<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370089856214-gjtv8sq9c3q118ti32cfdfg3kmnpusmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370089856214-gjtv8sq9c3q118ti32cfdfg3kmnpusmc</string>
	<key>API_KEY</key>
	<string>AIzaSyA3VvJvyVgjbRwB9-6Kqs23IAG9bvmwtnE</string>
	<key>GCM_SENDER_ID</key>
	<string>370089856214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InstaUiKit</string>
	<key>PROJECT_ID</key>
	<string>instauikit</string>
	<key>STORAGE_BUCKET</key>
	<string>instauikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370089856214:ios:8d73c4a0fb15980eed4d77</string>
</dict>
</plist>